@model CategoryAddViewModel

@{
    ViewBag.Title = "Add Category";

}

<div>
    <h1 class="text-center display-4">Add category</h1>
</div>

<div class="mx-auto" style="max-width: 25vw">
    @* Validation errors *@
    @{

        var modelState = ViewData.ModelState;
        if (!modelState.IsValid)
        {
            @foreach (var state in modelState)
            {
                var key = state.Key; // Property name
                var errors = state.Value.Errors; // List of errors for that property

                foreach (var error in errors)
                {
                    <div class="alert alert-danger my-3" role="alert">@error.ErrorMessage</div>
                }
            }
        }
    }

    <form asp-action="Add" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
            <label class="form-label" asp-for="Name">Name</label>
            <input class="form-control" asp-for="Name" type="text" placeholder="E.g. Savings" required />
        </div>
        <button class="btn btn-success text-uppercase d-block mx-auto" type="submit">Add category</button>
    </form>
</div>