@model CategoryAddViewModel

@{
    ViewBag.Title = "Add Category";

}

<div>
    <h1 class="text-center display-4">Add category</h1>
</div>

<form asp-action="Add">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label>Name</label>
        <input asp-for="Name" type="text" />
    </div>
    <button type="submit">Add Category</button>
</form>