@model CategoryViewModel

@{
    ViewBag.Title = "Edit Category";
}

<div>
    <h1 class="text-center display-4">Edit category</h1>
</div>

<form asp-action="Update">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="CategoryId" />
    <div>
        <label>Name</label>
        <input asp-for="Name" type="text" />
    </div>
    <button type="submit">Update Category</button>
</form>