@model ExpenseManager.Web.Models.RegisterViewModel

@{
    ViewBag.Title = "Sign up";
}

<style>
    #errors-alert {
        display: block;
    }

    #errors-alert:empty {
        display: none;
    }
</style>

<div>
    <h1 class="text-center display-4">Sign up</h1>
</div>

<div class="mx-auto" style="max-width: 25vw">
    @* Validation errors *@
    @{

        var modelState = ViewData.ModelState;
        if (!modelState.IsValid)
        {
            @foreach (var state in modelState)
            {
                var key = state.Key; // Property name
                var errors = state.Value.Errors; // List of errors for that property

                foreach (var error in errors)
                {
                    <div class="alert alert-danger my-3" role="alert">@error.ErrorMessage</div>
                }
            }
        }
    }

    @if (TempData["ErrorMessage"] is not null)
    {
        <div class="alert alert-danger my-3" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }

    <form asp-action="Register" method="post">
        <div class="mb-3">
            <label class="form-label" asp-for="Email"></label>
            <input class="form-control" asp-for="Email" type="email" required />
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Password"></label>
            <input class="form-control" asp-for="Password" type="password" required />
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="ConfirmPassword">Confirm password</label>
            <input class="form-control" asp-for="ConfirmPassword" type="password" required />
        </div>
        <button class="btn btn-primary text-uppercase d-block mx-auto w-50" type="submit">Sign up</button>
    </form>
</div>