@{
    ViewBag.Title = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">ExpenseManager is a simple expense manager application.</p>
    <p>Please log in to manage your transactions.</p>
</div>
