@{
    ViewBag.Title = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">Expense Manager helps you keep track of all your expenses effortlessly.</p>
    <p>Let's get started!</p>
    <button type="button" class="btn btn-primary text-uppercase" onclick="location.href='@Url.Action("Register", "Account")'">Sign up</button>
</div>
